* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ebebeb;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  max-width: 213px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.title {
  margin: 10px;
  text-align: center;
  margin: 25px 0;
}

.search {
  position: relative;
  display: block;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

#js-zip-code {
  width: 100%;
  border-color: #4389aa;
  border-width: 1px;
}

#js-zip-code:hover {
  border-color: #5bbeed;
  border-width: 1.2px;
  box-shadow: 2px 2px 10px #888888;
}

#submit-btn {
  width: 100%;
  border: none;
  background-color: #4389aa;
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  margin-bottom: 20px;
  outline-color: #5bbeed;
}

#submit-btn:hover {
  box-shadow: 2px 2px 10px #888888;
  background-color: #5bbeed;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

#js-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.temp-label {
  position: relative;
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

.temp-label:hover {
  color: #5bbeed;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

#js-result {
  background-color: rgba(200, 200, 200, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

#temp {
  display: inline-block;
  box-shadow: 2px 2px 10px #888888;
}

#current {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  background-color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.temp-active {
  font-size: 2em;
  background-color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.forecast-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.forecast-date {
  font-size: 18px;
}

.forecast-temp {
  font-size: 18px;
}

.forecast-wrap:hover,
#current:hover {
  background-color: #5bbeed;
  box-shadow: 2px 2px 10px #888888;
}

#forecast {
  display: flex;
  flex-wrap: wrap;
}

.weather-text {
  font-size: 0.5em;
}

.weather-type {
  max-width: 100px;
}

@media (max-width: 600px) {
  .forecast-wrap {
    flex: 1;
  }
}
